In [76]:
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, TfidfTransformer

In [21]:
df_train = pd.read_csv('train.csv', sep='\t')
df_test = pd.read_csv('test.csv', sep='\t')

In [22]:
df_train.head()

,id,name,description,target
0,0,Заведующий отделом/секцией в магазин YORK (Уру...,<p><strong>В НОВЫЙ МАГАЗИН YORK (хозтовары) пр...,1
1,1,Наладчик станков и манипуляторов с ПУ,Обязанности:работа на токарных станках с ЧПУ T...,0
2,2,Разработчик С++ (Криптограф),<strong>Требования:</strong> <ul> <li>Опыт про...,0
3,3,Фрезеровщик,<p>Условия:</p> <ul> <li>На работу вахтовым ме...,0
4,4,Мерчендайзер/продавец-консультант,<p><strong>Компания Палладиум Стандарт - призн...,1

In [23]:
df_test.head()

,id,name,description
0,200000,Дизайнер-консультант мебели,<p><strong>Обязанности:</strong></p> <ul> <li>...
1,200001,Продавец-консультант (ТЦ на Пушкина),<p><strong>Обязанности</strong>:</p> <p>∙ конс...
2,200002,Менеджер по продажам,<p>Торговый Дом «Форт» это ведущая компания Пе...
3,200003,Продавец-консультант в магазин одежды (ТЦ Волн...,<p><strong>Требуются продавцы консультанты в м...
4,200004,Специалист по охране труда,<strong>Обязанности:</strong> <ul> <li> <p>осу...

In [12]:
df_test['target'] = 'NaN'

In [24]:
df_train['train'] = 1
df_test['train'] = 0

In [25]:
df = df_train.append(df_test)

In [26]:
df.head()

,description,id,name,target,train
0,<p><strong>В НОВЫЙ МАГАЗИН YORK (хозтовары) пр...,0,Заведующий отделом/секцией в магазин YORK (Уру...,1.0,1
1,Обязанности:работа на токарных станках с ЧПУ T...,1,Наладчик станков и манипуляторов с ПУ,0.0,1
2,<strong>Требования:</strong> <ul> <li>Опыт про...,2,Разработчик С++ (Криптограф),0.0,1
3,<p>Условия:</p> <ul> <li>На работу вахтовым ме...,3,Фрезеровщик,0.0,1
4,<p><strong>Компания Палладиум Стандарт - призн...,4,Мерчендайзер/продавец-консультант,1.0,1

In [38]:
def remove_html_tags(text):
    """Remove html tags from a string"""
    import re
    clean = re.compile('<.*?>')
    return re.sub(clean, ' ', text)

In [42]:
for c in ['description', 'name']:
    df[c] = df[c].apply(remove_html_tags)

In [43]:
df.head()

,description,id,name,target,train
0,В НОВЫЙ МАГАЗИН YORK (хозтовары) приглашаем ...,0,Заведующий отделом/секцией в магазин YORK (Уру...,1.0,1
1,Обязанности:работа на токарных станках с ЧПУ T...,1,Наладчик станков и манипуляторов с ПУ,0.0,1
2,Требования: Опыт программирования на С++ ...,2,Разработчик С++ (Криптограф),0.0,1
3,Условия: На работу вахтовым методом в г. ...,3,Фрезеровщик,0.0,1
4,Компания Палладиум Стандарт - признанный лид...,4,Мерчендайзер/продавец-консультант,1.0,1

In [66]:
df.loc[:, 'text'] = df.loc[:,'name'] + df.loc[:, 'description']

In [73]:
count_vect = CountVectorizer()
temp_matrix = count_vect.fit_transform(df['text'])

In [74]:
tfidf_transformer = TfidfTransformer(norm=None, smooth_idf=False)
tfidf_transformer.fit(temp_matrix)

TfidfTransformer(norm=None, smooth_idf=False, sublinear_tf=False,
         use_idf=True)

In [79]:
tfidf_vect = TfidfVectorizer()
tfidf_vect.fit(df['text'])

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words=None, strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [82]:
tfidf_matrix = tfidf_vect.transform(df[df['train'] == 1]['text'])

In [83]:
tfidf_matrix.shape

(200000, 245918)

In [87]:
X = tfidf_matrix
y = df[df['train'] == 1]['target']

In [88]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [85]:
from sklearn.neighbors import KNeighborsRegressor

In [89]:
knn = KNeighborsRegressor(n_neighbors=10, 
                          weights='uniform', 
                          metric='manhattan')
knn.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='manhattan',
          metric_params=None, n_jobs=1, n_neighbors=10, p=2,
          weights='uniform')

In [ ]:
y_hat = knn.predict(X_test)